// $primary-color: #003A8E;
$primary-color: #13364C;
$secondary-color: #1A1A1A;
$background-color: #FFF;
$box-color: #444A55;
$box-color-light: #D5D8DC;
$accent-color: #00CEEA;
$accent-color-light: #F24822;
$font-main: 'Inter', sans-serif;