// === Hero ===
.hero {
  background: linear-gradient(
      0deg,
      rgba(68, 74, 85, 0.79) 0%,
      rgba(68, 74, 85, 0.79) 100%
    ),
    url("../assets/img/bg-hero.jpg") center/cover no-repeat;
  height: 664px;
  position: relative;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 175px 182px;

  .hero-contain {
    width: 100%;
  }
}

@include respond-to(xl) {
  .hero {
    padding: 96px 48px;
    text-align: center;

    .hero-contain {
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .hero-text {
        h1 {
          font-size: 48px;
          margin-bottom: 16px;
        }

        p {
          font-size: 24px;
          margin-bottom: 24px;
        }

        .btn {
          font-size: 14px;
          padding: 10px 20px;
        }
      }
    }

    .hero-img {
      max-width: 100%;
      height: auto;
    }
  }
}

@include respond-to(md) {

}

@include respond-to(md) {
  .hero {
    padding: 64px 24px;

    .hero-text h1 {
      font-size: 28px;
    }

    .hero-text p {
      font-size: 14px;
    }
  }
}
